{% extends 'dashboard.html.j2' %}

{% block content %}
<h3>{{ title }}</h3>
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<hr>
<form method='post'>
    {{ form.hidden_tag() }}

    <div class="uk-margin">
        {% if form.email.errors %}
        {{ form.email(class='uk-input uk-form-danger') }}
        {% for error in form.email.errors %}
        <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
        {% endfor %}
        {% else %}
        {{ form.email(class='uk-input', placeholder='Email') }}
        {% endif %}
    </div>

    <div class="uk-margin">
        {% if form.phone.errors %}
        {{ form.phone(class='uk-input uk-form-danger') }}
        {% for error in form.phone.errors %}
        <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
        {% endfor %}
        {% else %}
        {{ form.phone(class='uk-input', placeholder='Phone No') }}
        {% endif %}
    </div>

    <div class="uk-margin">
        {% if form.website.errors %}
        {{ form.website(class='uk-input uk-form-danger') }}
        {% for error in form.website.errors %}
        <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
        {% endfor %}
        {% else %}
        {{ form.website(class='uk-input', placeholder='Location') }}
        {% endif %}
    </div>

    <div class="uk-margin">
        {{ form.submit(class='uk-button uk-button-primary') }}
    </div>
</form>
{% endblock %}
