{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix uk-margin">
    <div class="uk-float-left">
        <h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('customer.update_customer', id=customer.id) }}">Update customer</a>
    </div>
</div>
<hr>
{% for message in get_flashed_messages() %}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
{% endfor %}
<div uk-grid>
    <div class="uk-width-2-5@m">
        <div class="uk-card uk-card-primary uk-card-small">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title">Info</h3>
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-card-badge uk-label">{{ customer.user.username }}</div>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                            Email:  <span class="uk-text-meta uk-text-primary">{{ customer.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>
                            Phone:  <span class="uk-text-meta uk-text-primary">{{ customer.phone }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-margin-remove-top">
                    Last updated:
                    <time datetime="{{ customer.created_on }}">{{ customer.created_on }}</time>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-3-5@m">
        <a class="uk-button uk-button-primary" href="{{ url_for('customer.create_lead', id=customer.id) }}">Create Lead</a>
        {% if customer.leads.count() != 0 %}
            <table
                class="uk-table uk-table-divider uk-table-middle uk-table-justify  uk-table-hover uk-table-responsive">
                <thead>
                    <tr>
                        <th>plot</th>
                        <th>Location</th>
                        <th>Source</th>
                        <th>Proposal</th>
                        <th>Assignee</th>
                        <th class="uk-table-shrink">Edit</th>
                        <th class="uk-table-shrink">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lead in customer.leads %}
                    <tr>
                        <td class="uk-table-link">
                            <a class="uk-link-reset" href="{{ url_for('lead.read_lead', id=lead.id) }}">
                                {{ lead.plot.name }}
                            </a>
                        </td>
                        <td> {{ lead.customer.location }}</td>
                        <td> {{ lead.source.name }} </td>
                        <td>{{ lead.proposal }}</td>
                        <td>
                            {% for assignee in lead.assignees %}
                                {{ assignee.username }}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ url_for('lead.update_lead', id=lead.id) }}" class="uk-icon-link"
                                uk-icon="file-edit"></a>
                        </td>
                        <td>
                            <a href="{{ url_for('lead.delete_lead', id=lead.id) }}" class="uk-icon-link"
                                uk-icon="trash"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="uk-placeholder uk-text-center">No leads have been added.</div>
        {% endif %}
    </div>
</div>

{% endblock %}
