{% extends 'auth.html.j2' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    <div class="uk-margin">
        {% if form.email.errors %}
            {{ form.email(class_='uk-input uk-form-danger') }}
            {% for error in form.email.errors %}
                <small class="uk-form-help-block">{{ error }}</small>
            {% endfor %}
        {% else %}
            {{ form.email(class_='uk-input', placeholder='Email') }}
        {% endif %}
    </div>

    <div class="uk-margin">
        {% if form.password.errors %}
            {{ form.password(class_='uk-input uk-form-danger') }}
            {% for error in form.password.errors %}
                <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
            {% endfor %}
        {% else %}
            {{ form.password(class_='uk-input', placeholder='Password') }}
        {% endif %}
    </div>

    <div class="uk-margin">
        {{ form.submit(class='uk-button uk-button-primary') }}
    </div>

    <div class="uk-margin">
        <p class="uk-text-muted">Not a user? <a href="{{ url_for('auth.register') }}">Register</a></p>
    </div>
</form>
{% endblock %}
