{% extends 'auth.html.j2' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    <div class="uk-margin">
        {% if form.username.errors %}
        {{ form.username(class_='uk-input uk-form-danger') }}
        {% for error in form.username.errors %}
        <small class="uk-form-help-block">{{ error }}</small>
        {% endfor %}
        {% else %}
        {{ form.username(class_='uk-input', placeholder='Username') }}
        {% endif %}
    </div>

    <div class="uk-child-width-expand@m" uk-grid>
        <div>
            <div class="uk-margin">
                {% if form.first_name.errors %}
                {{ form.first_name(class_='uk-input uk-form-danger') }}
                {% for error in form.first_name.errors %}
                <small class="uk-form-help-block">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.first_name(class_='uk-input', placeholder='First name') }}
                {% endif %}
            </div>
        </div>
        <div>
            <div class="uk-margin">
                {% if form.last_name.errors %}
                {{ form.last_name(class_='uk-input uk-form-danger') }}
                {% for error in form.last_name.errors %}
                <small class="uk-form-help-block">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.last_name(class_='uk-input', placeholder='Last name') }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="uk-margin">
        {% if form.email.errors %}
        {{ form.email(class_='uk-input uk-form-danger') }}
        {% for error in form.email.errors %}
        <small class="uk-form-help-block">{{ error }}</small>
        {% endfor %}
        {% else %}
        {{ form.email(class_='uk-input', placeholder='Email') }}
        {% endif %}
    </div>

    <div class="uk-margin">
        {% if form.phone.errors %}
        {{ form.phone(class_='uk-input uk-form-danger') }}
        {% for error in form.phone.errors %}
        <small class="uk-form-help-block">{{ error }}</small>
        {% endfor %}
        {% else %}
        {{ form.phone(class_='uk-input', placeholder='Phone No') }}
        {% endif %}
    </div>

    <div class="uk-child-width-expand@m" uk-grid>
        <div>
            <div class="uk-margin">
                {% if form.password.errors %}
                {{ form.password(class_='uk-input uk-form-danger') }}
                {% for error in form.password.errors %}
                <small class="uk-form-help-block">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.password(class_='uk-input', placeholder='Password') }}
                {% endif %}
            </div>
        </div>
        <div>
            <div class="uk-margin">
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class_='uk-input uk-form-danger') }}
                {% for error in form.confirm_password.errors %}
                <small class="uk-form-help-block">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.confirm_password(class_='uk-input', placeholder='Confirm password') }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="uk-margin">
        {{ form.submit(class='uk-button uk-button-primary') }}
    </div>

    <div class="uk-margin">
        <p class="uk-text-muted">Already registered? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </div>
</form>
{% endblock %}
