{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix uk-margin">
    <div class="uk-float-left">
        <h1>{{ lead.customer.first_name }} {{ lead.customer.last_name }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('lead.update_lead', id=lead.id) }}">Update Lead</a>
    </div>
</div>
<hr>
{% for message in get_flashed_messages() %}
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
    </div>
{% endfor %}
<div uk-grid>
    <div class="uk-width-2-5@m">
        <div class="uk-card uk-card-primary uk-card-small">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title">Info</h3>
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-card-badge uk-label">{{ lead.status.name }}</div>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: user"></span>
                            Name:  <span class="uk-text-meta uk-text-primary">{{ lead.customer.first_name }} {{ lead.customer.last_name }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                            Email:  <span class="uk-text-meta uk-text-primary">{{ lead.customer.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>
                            Phone:  <span class="uk-text-meta uk-text-primary">{{ lead.customer.phone }}</span>
                        </a>
                    </li>
                    <li>
                        <span class="uk-margin-small-right" uk-icon="icon: social"></span>
                        Source:  <span class="uk-text-meta uk-text-primary">{{ lead.source.name }}</span>
                    </li>
                    <li>
                        <span class="uk-margin-small-right" uk-icon="icon: info"></span>
                        Probability:  <span class="uk-text-meta uk-text-primary">{{ lead.probability.name }}</span>
                    </li>
                </ul>
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-margin-remove-top">
                    Last updated:
                    <time datetime="{{ lead.created_on }}">{{ lead.created_on }}</time>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-3-5@m">
        <div class="uk-clearfix">
            <div class="uk-float-left">
                <h3>Notes</h3>
            </div>
            <div class="uk-float-right">
                <a class="uk-button uk-button-primary" href="{{ url_for('lead.create_note',id=lead.id) }}">Add Note</a>
            </div>
        </div>
        {% if notes %}
            <table class="uk-table uk-table-divider uk-table-small uk-table-justify uk-table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th class="uk-table-shrink">Edit</th>
                        <th class="uk-table-shrink">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                    {{ note }}
                    <tr>
                        <td>{{ note.title }}</td>
                        <td class="uk-table-truncate">{{  note.description }}</td>
                        <td>
                            <a href="{{ url_for('note.update_note', id=note.id) }}" class="uk-icon-link" uk-icon="file-edit"></a>
                        </td>
                        <td>
                            <a href="{{ url_for('note.delete_note', id=note.id) }}" class="uk-icon-link" uk-icon="trash"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="uk-placeholder uk-text-center">No notes for the lead.</div>
        {% endif %}
    </div>
</div>

<div uk-grid>
    <div class="uk-width-3-5@m">

            <div class="uk-placeholder uk-text-center">No scheduled appointments.</div>
            <a class="uk-button uk-button-primary" href="">Add Appointment</a>
    </div>
    <div class="uk-width-2-5@m">
        <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title">Assignee</h3>
                    </div>
                    <div class="uk-width-expand">
                        <a class="uk-button uk-button-primary" href="">Re Assign</a>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                {% for assignee in lead.assignees %}
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: user"></span>
                            Username:  <span class="uk-text-meta uk-text-primary">{{ assignee.username }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                            Email:  <span class="uk-text-meta uk-text-primary">{{ assignee.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>
                            Phone:  <span class="uk-text-meta uk-text-primary">{{ assignee.phone }}</span>
                        </a>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-margin-remove-top">
                    Last updated:
                    <time datetime="{{ lead.created_on }}">{{ lead.created_on }}</time>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
