{% extends 'dashboard.html.j2' %}

{% block content %}
    <h1 class="uk-text-capitalize">{{ title }}</h1>
    <hr>
    {%  if users %}
        {% for message in get_flashed_messages() %}
            <div class="uk-alert-primary" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-justify uk-table-responsive">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Contacts</th>
                    <th class="uk-table-shrink">Customers</th>
                    <th class="uk-table-shrink">Leads</th>
                    <th class="uk-table-shrink">Inquiries</th>
                    <th class="uk-table-shrink">Appointments</th>
                    <th class="uk-table-shrink">Tasks</th>
                    <th class="uk-table-shrink">Edit</th>
                    <th class="uk-table-shrink">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ user.first_name }} {{ user.last_name }}</td>
                    <td> {{ user.email }}</br>{{ user.phone }}</td>
                    <td class="uk-text-center">
                        {{ user.clients.filter_by(type='customer').count() }}
                    </td>
                    <td class="uk-text-center">
                        {{ user.clients.filter_by(type='lead').count() }}
                    </td>
                    <td class="uk-text-center">
                        {{user.inquiries.count()}}
                    </td>
                    <td class="uk-text-center">{{ user.appointments.count() }}</td>
                    <td class="uk-text-center">{{ user.tasks.count() }}</td>
                    <td>
                        <a href="{{ url_for('user.update_user', id=user.id) }}" class="uk-icon-link" uk-icon="file-edit"></a>
                    </td>
                    <td>
                        <a href="{{ url_for('user.delete_user', id=user.id) }}" class="uk-icon-link" uk-icon="trash"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="uk-placeholder uk-text-center">No users have been added.</div>
    {% endif %}
{% endblock %}
