{% extends 'dashboard.html.j2' %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr>
    {%  if users %}
        {% for message in get_flashed_messages() %}
            <div class="uk-alert-primary" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        <table class="uk-table uk-table-divider uk-table-hover uk-table-justify uk-table-responsive">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Contacts</th>
                    <th class="uk-table-shrink">Admin Status</th>
                    <th class="uk-table-shrink">Appointments</th>
                    <th class="uk-table-shrink">Leads</th>
                    <th class="uk-table-shrink">Edit</th>
                    <th class="uk-table-shrink">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ url_for('user.read_user', id=user.id) }}">
                            {{ user.username }}
                        </a>
                    </td>
                    <td> {{ user.first_name }} {{ user.last_name }}</td>
                    <td> {{ user.email }}</br>{{ user.phone }}</td>
                    <td> {{ user.is_admin }} </td>
                    <td class="uk-text-center"><span class="uk-badge">{{ user.appointments.count() }}</span> </td>
                    <td class="uk-text-center"><span class="uk-badge">{{ user.leads.count() }}</span> </td>
                    <td>
                        <a href="{{ url_for('user.update_user', id=user.id) }}" class="uk-icon-link" uk-icon="file-edit"></a>
                    </td>
                    <td>
                        <a href="{{ url_for('user.delete_user', id=user.id) }}" class="uk-icon-link" uk-icon="trash"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="uk-placeholder uk-text-center">No users have been added.</div>
    {% endif %}
{% endblock %}
