{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix uk-margin">
    <div class="uk-float-left">
        <h1>{{ user.username }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('user.update_user', id=user.id) }}">
            Update User
        </a>
    </div>
</div>
<hr>
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<div uk-grid>
    <div class="uk-width-2-5@m">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ user.first_name }}
                    {{ user.last_name }}
                </h3>
                <p class="uk-text-meta uk-margin-remove-top">
                    <time datetime="{{ user.created_on }}">{{ user.created_on }}</time>
                </p>
            </div>
            <div class="uk-card-body">
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                            Email: <span class="uk-text-meta uk-text-primary">{{ user.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>
                            Phone: <span class="uk-text-meta uk-text-primary">{{ user.phone }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-width-3-5@m">
        <div class="uk-child-width-1-2@s uk-grid-small uk-text-center" uk-grid>
            <div>
                <div class="uk-tile uk-tile-primary uk-padding-small">
                    <h1>{{ user.clients.filter_by(type='customer').count() }}</h1>
                    <p class="uk-text-muted uk-text-baseline uk-text-uppercase">Customers</p>
                </div>
            </div>
            <div>
                <div class="uk-tile uk-tile-primary uk-padding-small">
                    <h1>{{ user.clients.filter_by(type='lead').count() }}</h1>
                    <p class="uk-text-muted uk-text-baseline uk-text-uppercase">Leads</p>
                </div>
            </div>
            <div>
                <div class="uk-tile uk-tile-primary uk-padding-small">
                    <h1>{{ user.inquiries.count() }}</h1>
                    <p class="uk-text-muted uk-text-baseline uk-text-uppercase">Inquiries</p>
                </div>
            </div>
            <div>
                <div class="uk-tile uk-tile-primary uk-padding-small">
                    <h1>{{ user.appointments.count() }}</h1>
                    <p class="uk-text-muted uk-text-baseline uk-text-uppercase">Appointments</p>
                </div>
            </div>
            <div>
            </div>
        </div>
        {% endblock %}