{% extends "dashboard.html.j2" %}

{% block content %}
  <div class="uk-child-width-1-4@s uk-grid-small" uk-grid>
    <div>
      <div class="uk-card uk-card-body">
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body">
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body">
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body">
      </div>
    </div>
  </div>
{% endblock %}