{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-position-center">
    <div class="uk-background-image uk-background-cover uk-height-large uk-width-large uk-flex uk-flex-center uk-flex-bottom" style="background-image: url(/static/images/error.png);">
        <div class="uk-placeholder uk-text-center">
            <h1 class="uk-text-error">500</h1>
            <p>Internal Server Error</p>
            <a class="uk-button uk-button-primary" href="{{ url_for('lead.read_leads') }}">Go Back Home</a>
        </div>
    </div>
</div>
{% endblock %}


