{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix uk-margin">
    <div class="uk-float-left">
        <h1 class="uk-text-capitalize">{{ title }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('plot.create_plot') }}">Add plot</a>
    </div>
</div>
{%  if plots %}
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<ul class="uk-tab" uk-switcher>
    <li><a href="#">Map View</a></li>
    <li><a href="#">Listing View</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>
        <div id="map" style='width: 100%; height: 400px;' class="uk-margin"></div>
    </li>
    <li>
        <table
            class="uk-table uk-table-responsive uk-table-divider uk-table-hover uk-table-small uk-table-justify uk-table-middle">
            <thead>
                <tr>
                    <th>LR Number</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th class="uk-table-shrink">Inquiries</th>
                    <th class="uk-table-shrink">Update</th>
                    <th class="uk-table-shrink">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for plot in plots %}
                <tr>
                    <td class="uk-table-link">
                        <a class="uk-link-reset" href="{{ url_for('plot.read_plot', id=plot.id) }}">
                            {{ plot.lr_number }}
                        </a>
                    </td>
                    <td class="uk-text-truncate">{{ plot.description }}</td>
                    <td>{{ plot.price }}</td>
                    <td>{{ plot.size.name }}</td>
                    <td>{{ plot.status.name }}</td>
                    <td>{{ plot.project.name }}</td>
                    <td class="uk-text-center"><span class="uk-badge">{{ plot.inquiries.count() }}</span></td>
                    <td class="uk-text-center">
                        <a href="{{ url_for('plot.update_plot', id=plot.id) }}" class="uk-icon-link"
                            uk-icon="file-edit"></a>
                    </td>
                    <td class="uk-text-center">
                        <a href="{{ url_for('plot.delete_plot', id=plot.id) }}" class="uk-icon-link"
                            uk-icon="trash"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </li>
</ul>
{% else %}
<div class="uk-placeholder uk-text-center">No plots have been added.</div>
{% endif %}


<script>
    mapboxgl.accessToken = '{{ access_token }}';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [37.9062, 0.0236], // starting position [lng, lat]
        zoom: 6 // starting zoom
    });
</script>
{% endblock %}
