{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix uk-margin">
    <div class="uk-float-left">
        <h1>{{ title }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('land.create_land') }}">Add land</a>
    </div>
</div>
{%  if lands %}
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<ul class="uk-tab" uk-switcher>
    <li><a href="#">Map View</a></li>
    <li><a href="#">Card View</a></li>
    <li><a href="#">Listing View</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li>
        <div id="map" style='width: 100%; height: 400px;' class="uk-margin"></div>
    </li>
    <li>
        <div class="uk-child-width-1-3@s uk-margin uk-grid-small" uk-grid>
            {% for land in lands %}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-auto">
                                <h3 class="uk-card-title uk-margin-remove-bottom">
                                    <a class="uk-link-reset" href="{{ url_for('land.read_land', id=land.id) }}">
                                        {{ land.name }}
                                    </a>
                                </h3>
                                <p class="uk-text-meta uk-margin-remove-top">
                                    <time datetime="{{ land.created_on }}">{{ land.created_on }}</time>
                                </p>
                            </div>
                            <div class="uk-width-expand">
                                <a href="{{ url_for('land.update_land', id=land.id) }}" class="uk-icon-link"
                                    uk-icon="file-edit"></a>
                                <a href="{{ url_for('land.delete_land', id=land.id) }}" class="uk-icon-link"
                                    uk-icon="trash"></a>
                                {% if land.status.name == 'available' %}
                                <div class="uk-label uk-label-success">{{ land.status.name }}</div>
                                {% elif land.status.name == 'booked' %}
                                <div class="uk-label uk-label-warning">{{ land.status.name }}</div>
                                {% else %}
                                <div class="uk-label">{{ land.status.name }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-label">Description</div>
                        <p>{{ land.description }}</p>

                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-text-small uk-text-muted">Rating <span class="uk-badge">{{ land.rating }}</span></div>
                        <div class="uk-text-small uk-text-muted">Price <span class="uk-text-primary">{{ land.price }}</span></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </li>
    <li>Bazinga!</li>
</ul>
{% else %}
<div class="uk-placeholder uk-text-center">No lands have been added.</div>
{% endif %}


<script>
	mapboxgl.accessToken = '{{ access_token }}';
    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
    center: [37.9062, 0.0236], // starting position [lng, lat]
    zoom: 6 // starting zoom
    });
</script>
{% endblock %}
