{% extends 'dashboard.html.j2' %}

{% block content %}
<h1>{{ title }}</h1>
<hr>
{%  if customers %}
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<table class="uk-table uk-table-divider uk-table-middle uk-table-justify uk-table-hover uk-table-responsive">
    <thead>
        <tr>
            <th class="uk-table-shrink">Name</th>
            <th class="uk-table-shrink">Email</th>
            <th class="uk-table-shrink">Phone</th>
            <th class="uk-table-shrink">Inquiries</th>
            <th class="uk-table-shrink">Added By</th>
            <th class="uk-table-shrink">Edit</th>
            <th class="uk-table-shrink">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ url_for('client.read_client', id=customer.id) }}">
                    {{ customer.first_name }} {{ customer.last_name }}
                </a>
            </td>
            <td> {{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td> {{ customer.inquiries.count() }} </td>
            <td>{{ customer.user.username }}</td>
            <td>
                <a href="{{ url_for('client.update_client', id=customer.id) }}" class="uk-icon-link"
                    uk-icon="file-edit"></a>
            </td>
            <td>
                <a href="{{ url_for('client.delete_client', id=customer.id) }}" class="uk-icon-link"
                    uk-icon="trash"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="uk-placeholder uk-text-center">No customers found.</div>
{% endif %}
{% endblock %}
