{% extends 'dashboard.html.j2' %}

{% block content %}
<h1 class="uk-text-capitalize">{{ title }}</h1>
<hr>
{%  if customers %}
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<table class="uk-table uk-table-divider uk-table-middle uk-table-justify uk-table-hover uk-table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Location</th>
            <th class="uk-table-shrink">Inquiries</th>
            <th>Added By</th>
            <th class="uk-table-shrink">Edit</th>
            <th class="uk-table-shrink">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for customers in customerss %}
        <tr>
            <td class="uk-table-link">
                <a class="uk-link-reset" href="{{ url_for('client.read_client', id=customers.id) }}">
                    {{ customers.first_name }} {{ customers.last_name }}
                </a>
            </td>
            <td> {{ customers.email }}</td>
            <td>{{ customers.mobile }}</td>
            <td>{{ customers.location }}</td>
            <td class="uk-text-center"> <span class="uk-badge">{{ customers.inquiries.count() }}</span> </td>
            <td>{{ customers.user.username }}</td>
            <td class="uk-text-center">
                <a href="{{ url_for('client.update_client', id=customers.id) }}" class="uk-icon-link"
                    uk-icon="file-edit"></a>
            </td>
            <td class="uk-text-center">
                <a href="{{ url_for('client.delete_client', id=customers.id) }}" class="uk-icon-link"
                    uk-icon="trash"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="uk-placeholder uk-text-center">No Leads have been added.</div>
{% endif %}
{% endblock %}
