{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <h3>{{ title }}</h3>
        <hr>
        <form method='post'>
            {{ form.hidden_tag() }}
            <div class="uk-margin">
                {% if form.title.errors %}
                {{ form.title(class='uk-input uk-form-danger') }}
                {% for error in form.title.errors %}
                <small class="uk-form-help-block">
                    {{ error }}
                </small>
                {% endfor %}
                {% else %}
                {{ form.title(class='uk-input', placeholder='Title') }}
                {% endif %}
            </div>

            <div class="uk-margin">
                {% if form.description.errors %}
                {{ form.description(class='uk-textarea uk-form-danger', rows="5") }}
                {% for error in form.description.errors %}
                <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.description(class='uk-textarea', rows="5", placeholder='Description') }}
                {% endif %}
            </div>

            <div class="uk-margin">
                {{ form.client.label(class='uk-label') }}
                {% if form.client.errors %}
                {{ form.client(class='uk-select uk-form-danger', rows="5") }}
                {% for error in form.client.errors %}
                <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.client(class='uk-select', placeholder='Client') }}
                {% endif %}
            </div>

            <div class="uk-margin">
                {{ form.appointment.label(class='uk-label') }}
                {% if form.appointment.errors %}
                {{ form.appointment(class='uk-select uk-form-danger', rows="5") }}
                {% for error in form.appointment.errors %}
                <small class="uk-form-help-block uk-text-danger">{{ error }}</small>
                {% endfor %}
                {% else %}
                {{ form.appointment(class='uk-select', placeholder='appointment') }}
                {% endif %}
            </div>

            <div class="uk-margin">
                {{ form.submit(class='uk-button uk-button-primary') }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
