{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h1>{{ title }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('note.create_note') }}">Add Note</a>
    </div>
</div>
<hr>
{% if notes %}
<div class="uk-child-width-1-3@m" uk-grid>
    {% for note in notes %}
    <div>
        <div class="uk-placeholder">
            <article class="uk-article">

                <div class="uk-article-title"><a class="uk-link-reset" href="{{ url_for('note.read_note', id=note.id) }}">{{ note.title }}</a></div>
                <hr>
                <p class="uk-article-meta">Written by <a href="#">{{ note.user.username }}</a> on {{ note.created_on }}.</p>

                <p class="uk-text-truncate">{{ note.description }}</p>

                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="{{ url_for('note.read_note', id=note.id) }}">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="{{ url_for('note.read_note', id=note.id) }}">{{ note.comments.count() }}</a>
                    </div>
                </div>

            </article>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="uk-placeholder uk-text-center">No notes have been created.</div>
{% endif %}
{% endblock %}