{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h1 class="uk-text-capitalize">{{ title }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('inquiry.create_inquiry') }}">Add Inquiry</a>
    </div>
</div>
{%  if inquiries %}
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
    <table
        class="uk-table uk-table-divider uk-table-justify uk-table-hover uk-table-responsive">
        <thead>
            <tr>
                <th class="uk-table-shrink">Name</th>
                <th class="uk-table-shrink">Contact</th>
                <th class="uk-table-shrink">Source</th>
                <th class="uk-table-shrink">Proposal</th>
                <th class="uk-table-shrink">Location</th>
                <th class="uk-table-shrink">plot</th>
                <th class="uk-table-shrink">Assignee</th>
                <th class="uk-table-shrink">Status</th>
                <th class="uk-table-shrink">Edit</th>
                <th class="uk-table-shrink">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for inquiry in inquiries %}
            <tr>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ url_for('inquiry.read_inquiry', id=inquiry.id) }}">
                        {{ inquiry.client.first_name }} {{ inquiry.client.last_name }}
                    </a>
                </td>
                <td> {{ inquiry.client.phone }}</br>{{ inquiry.client.email }}</td>
                <td> {{ inquiry.source.name }} </td>
                <td>{{ inquiry.proposal }}</td>
                <td> {{ inquiry.client.location }} </td>
                <td><a class="uk-link-reset" href="{{ url_for('plot.read_plot', id=inquiry.plot.id) }}">{{ inquiry.plot.lr_number }}</a></td>
                <td>{{ inquiry.user.username }}</td>
                <td><span class="uk-label uk-badge">{{ inquiry.status.name }}</span></td>
                <td>
                    <a href="{{ url_for('inquiry.update_inquiry', id=inquiry.id) }}" class="uk-icon-link"
                        uk-icon="file-edit"></a>
                </td>
                <td>
                    <a href="{{ url_for('inquiry.delete_inquiry', id=inquiry.id) }}" class="uk-icon-link"
                        uk-icon="trash"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<div class="uk-placeholder uk-text-center">No inquiries have been added.</div>
{% endif %}
{% endblock %}
