{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix uk-margin">
    <div class="uk-float-left">
        <h1>{{ inquiry.client.first_name }} {{ inquiry.client.last_name }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('inquiry.update_inquiry', id=inquiry.id) }}">Update
            Inquiry</a>
    </div>
</div>
<hr>
{% for message in get_flashed_messages() %}
<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
</div>
{% endfor %}
<div uk-grid>
    <div class="uk-width-2-5@m">
        <div class="uk-card uk-card-primary uk-card-small uk-margin">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title">Info</h3>
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-card-badge uk-label">{{ inquiry.status.name }}</div>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="{{ url_for('client.read_client', id=inquiry.client.id) }}">
                            <span class="uk-margin-small-right" uk-icon="icon: user"></span>
                            Name: <span class="uk-text-meta uk-text-primary">{{ inquiry.client.first_name }}
                                {{ inquiry.client.last_name }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                            Email: <span class="uk-text-meta uk-text-primary">{{ inquiry.client.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>
                            Phone: <span class="uk-text-meta uk-text-primary">{{ inquiry.client.mobile }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('plot.read_plot', id=inquiry.plot.id) }}">
                            <span class="uk-margin-small-right" uk-icon="icon: image"></span>
                            Plot: <span class="uk-text-meta uk-text-primary">{{ inquiry.plot.lr_number }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: image"></span>
                            Plot Price: <span class="uk-text-meta uk-text-primary">{{ inquiry.plot.price }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: credit-card"></span>
                            Proposal: <span class="uk-text-meta uk-text-primary">{{ inquiry.proposal }}</span>
                        </a>
                    </li>
                    <li>
                        <span class="uk-margin-small-right" uk-icon="icon: social"></span>
                        Source: <span class="uk-text-meta uk-text-primary">{{ inquiry.source.name }}</span>
                    </li>
                    <li>
                        <span class="uk-margin-small-right" uk-icon="icon: info"></span>
                        Purchase Probability: <span
                            class="uk-text-meta uk-text-primary">{{ inquiry.probability.name }}</span>
                    </li>
                </ul>
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-margin-remove-top">
                    Last updated:
                    <time datetime="{{ inquiry.created_on }}">{{ inquiry.created_on }}</time>
                </p>
            </div>
        </div>
        <div class="uk-card uk-card-secondary uk-card-small uk-margin">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title">Assignee</h3>
                    </div>
                    <div class="uk-width-expand">
                        <a class="uk-button uk-button-primary" href="">Re Assign</a>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: user"></span>
                            Username: <span class="uk-text-meta uk-text-primary">{{ inquiry.user.username }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: mail"></span>
                            Email: <span class="uk-text-meta uk-text-primary">{{ inquiry.user.email }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="uk-margin-small-right" uk-icon="icon: receiver"></span>
                            Phone: <span class="uk-text-meta uk-text-primary">{{ inquiry.user.phone }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-card-footer">
                <p class="uk-text-meta uk-margin-remove-top">
                    Last updated:
                    <time datetime="{{ inquiry.updated_on }}">{{ inquiry.updated_on }}</time>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-width-3-5@m">
        <div class="uk-clearfix">
            <div class="uk-float-left">
                <h3>Appointments</h3>
            </div>
            <div class="uk-float-right">
                <a class="uk-button uk-button-primary"
                    href="{{ url_for('inquiry.create_appointment', id=inquiry.id) }}">Add Appointment</a>
            </div>
        </div>
        <div id='calendar' class="uk-margin"></div>

        <div class="uk-clearfix">
            <div class="uk-float-left">
                <h3>Tasks</h3>
            </div>
            <div class="uk-float-right">
                <a class="uk-button uk-button-primary"
                    href="{{ url_for('inquiry.create_task', id=inquiry.id) }}">Add Task</a>
            </div>
        </div>
        {% if inquiry.tasks.count() != 0 %}
        <div class="uk-tile uk-tile-muted uk-margin uk-padding">
            <ul class="uk-list">
                {% for task in inquiry.tasks %}
                <li>
                    <label>
                        <input class="uk-checkbox" type="checkbox">
                        <span class="uk-text-right uk-text-meta">{{ task.description }}</span>
                    </label> 
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="uk-placeholder uk-text-center">No appointments for the inquiry.</div>
        {% endif %}


        <div class="uk-clearfix">
            <div class="uk-float-left">
                <h3>Notes</h3>
            </div>
            <div class="uk-float-right">
                <a class="uk-button uk-button-primary" href="{{ url_for('inquiry.create_note',id=inquiry.id) }}">Add
                    Note</a>
            </div>
        </div>
        {% if inquiry.notes.count() != 0 %}
        <table class="uk-table uk-table-divider uk-table-small uk-table-justify uk-table-responsive">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th class="uk-table-shrink">Edit</th>
                    <th class="uk-table-shrink">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for note in inquiry.notes %}
                <tr>
                    <td>{{ note.title }}</td>
                    <td class="uk-table-truncate">{{  note.description }}</td>
                    <td>
                        <a href="{{ url_for('note.update_note', id=note.id) }}" class="uk-icon-link"
                            uk-icon="file-edit"></a>
                    </td>
                    <td>
                        <a href="{{ url_for('note.delete_note', id=note.id) }}" class="uk-icon-link"
                            uk-icon="trash"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="uk-placeholder uk-text-center">No notes for the inquiry.</div>
        {% endif %}
    </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid' ],

      events: [
      {% for appointment in inquiry.appointments %}
      {
        title: '{{ appointment.title }}',
        start: '{{ appointment.start }}',
        description: '{{ appointment.description }}'
      }
      {% endfor %}
      ],

        eventClick: function(info) {
            alert('Event: ' + info.event.title);
            alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            alert('View: ' + info.view.type);

            // change the border color just for fun
            info.el.style.borderColor = 'red';
        }
    });

    calendar.render();
  });

</script>
{% endblock %}
