{% extends 'dashboard.html.j2' %}

{% block content %}
<div class="uk-clearfix">
    <div class="uk-float-left">
        <h1 class="uk-text-capitalize">{{ title }}</h1>
    </div>
    <div class="uk-float-right">
        <a class="uk-button uk-button-primary" href="{{ url_for('appointment.create_appointment') }}">Create
            Appointment</a>
    </div>
</div>
<hr>
<div id='calendar'></div>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ]
        });

        calendar.render();
      });

    </script>
{% endblock %}