{% extends 'dashboard.html.j2' %}

{% block content %}
<h1 class="uk-text-capitalize">{{ title }}</h1>
<hr>
<div id='global-calendar'></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('global-calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'dayGrid' ],

      events: [
      {% for appointment in appointments %}
      {
        id: '{{ appointment.id }}',
        title: '{{ appointment.title }}',
        start: '{{ appointment.start }}',
        description: '{{ appointment.description }}'
      }
      {% endfor %}
      ],

      eventClick: function (info) {
        const appointmentId = info.event.id;
        console.lgo
        window.location.href = `/appointments/${appointmentId}`;

      }
    });

    calendar.render();
  });

</script>
{% endblock %}
