{% extends 'dashboard.html.j2' %}

{% block content %}
<div uk-grid>

<div class="uk-width-2-5">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    {{ appointment.title }}
                </div>
                <div class="uk-width-expand">
                    <div class="uk-hidden-hover">
                        <a href="{{ url_for('appointment.update_appointment', id=appointment.id) }}" uk-icon="icon: pencil"></a>
                        <a href="{{ url_for('appointment.delete_appointment', id=appointment.id) }}" uk-icon="icon: trash"></a>
                    </div>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="{{ appointment.start }}">{{ appointment.start }}</time></p>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{ appointment.description }}</p>
            <ul class="uk-list">
                <li>{{ appointment.user.username }}</li>
            </ul>
        </div>
        <div class="uk-card-footer">
            <a href="{{ url_for('appointment.delete_appointment', id=appointment.id) }}" class="uk-button uk-button-text">Cancel Appointment</a>
        </div>
    </div>
</div>
<div class="uk-width-3-5">

</div>
    {% for note in appointment.notes %}
    <div>
        <div class="uk-placeholder">
            <article class="uk-article">

                <div class="uk-article-title"><a class="uk-link-reset" href="{{ url_for('note.read_note', id=note.id) }}">{{ note.title }}</a></div>
                <hr>
                <p class="uk-article-meta">Written by <a href="#">{{ note.user.username }}</a> on {{ note.created_on }}.</p>

                <p class="uk-text-truncate">{{ note.description }}</p>

                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="{{ url_for('note.read_note', id=note.id) }}">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="{{ url_for('note.read_note', id=note.id) }}">{{ note.comments.count() }}</a>
                    </div>
                </div>

            </article>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
